include README.rst
include LICENSE
include requirements.txt
include test-requirements.txt
include tox.ini
include ofcourse/yamls/site.yaml
include ofcourse/yamls/schedule.yaml
include ofcourse/yamls/fake_student.yaml
recursive-include ofcourse-templates *
recursive-include docs *
recursive-include ofcourse/static *
